<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>
<hr>
<% @movies.each do |movie| %>
    <h3>
    <%= movie.title %>
    <br>
    <%= movie.genre %>
    <br>
    <%= movie.year %>
    <br>
    <%= movie.synopsis %>
    <br>
    <img src=<%= movie.picture %>>
    <br>
    <%= movie.add_to_fav %>
</h3>
    <% end %>